<%- @memos.each do |memo| %>
  <div class="card mb-2">
    <h5 class="card-header">タイトル</h5>
    <div class="card-body">
      <p><%= memo.title %></p>
    </div>
    <h5 class="card-header">メモ</h5>
    <div class="card-body">
      <p><%= simple_format(memo.content) %></p>
    </div>
    <div class="card-header">作成日時:<%= memo.created_at.strftime('%Y-%m-%d %H:%M:%S') %></div>
    <div class="card-header">更新日時:<%= memo.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></div>
    <div class="card-footer">
      <%= link_to "メモを編集する", edit_memo_path(memo), class: "btn btn-info btn-block" %>
      <%= link_to "メモを削除する", memo_path(memo), class: "btn btn-danger btn-block", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
    </div>
  </div>
  <br>
<% end %>