<h1>メモ一覧</h1>
<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to "メモを新規作成", new_memo_path, class: "btn btn-info btn-block", style: "color: #FFEDB3; background-color:#000080;" %>
  </li>
  <li class="nav-item">
    <%= form_with url: memos_path, method: :get, local: false,class: "form-horizontal" do |form| %>
      <%= genre_collection_select(form) %>
      <%= form.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </li>
</ul>
<div id="memos-container">
  <%= render partial: "memos_list", locals: { memos: @memos } %>
</div>

